@font-face {
  font-family: "PM";
  src: url("@/assets/fonts/PingFang-Medium.ttf");
}

@font-face {
  font-family: PR;
  src: url("@/assets/fonts/PingFang-Regular.ttf");
}

@font-face {
  font-family: AB;
  src: url("@/assets/fonts/Alibaba-PuHuiTi-Bold.otf");
}

@font-face {
  font-family: AB85;
  src: url("@/assets/fonts/AlibabaPuHuiTi-2-85-Bold.otf");
}
