.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.al-c {
  align-items: center;
}

.al-fs {
  align-items: flex-start;
}

.al-fe {
  align-items: flex-end;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-fe {
  justify-content: flex-end;
}

.fd-c {
  flex-direction: column;
}

.fd-r {
  flex-direction: row;
}
